* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100vw;
  background-color: #00a3e4;
  font-family: "Comfortaa", cursive;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.psych-green {
  color: #90c541;
}

.psych-blue {
  color: #00a3e4;
}

.pinneapple-yellow {
  color: #fee721;
}

.snow-white {
  color: #fcf7f8;
}

.grey {
  color: #c9c5cb;
}

.gameboard {
  width: 800px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 120px;
  height: 170px;
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  margin: 10px;
  transform: rotateY(0deg);
}

.flipped {
  animation: flipToFront 0.5s 0s ease-in forwards;
}
.removed {
  visibility: hidden;
}

.card-back {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #c9c5cb;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-image: url("./assets/pineapple.svg");
  background-position: center;
  background-size: 200%;
  position: absolute;
  background-color: #90c541;
  z-index: 1;
  transform: rotateY(0deg);
  /* animation: flipToBack 0.5s 1s ease-in forwards; */
  backface-visibility: hidden;
}

.flipToBack {
  animation: flipToBack 0.5s 1s ease-in forwards;
}
.card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #c9c5cb;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: #90c541;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

img {
  width: 200px;
  height: 500px;
  border: 1px solid black;
}
/* game-controls */
#game-control-container {
  position: absolute;
  left: 1em;
  bottom: 1em;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

#gameControls {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 4px solid #90c541;
  background: #00a3e4;
  text-align: center;
  color: white;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.25s;
}
#gameControls:hover {
  transform: scale(1.02);
}
#gameControls #control-buttons {
  position: absolute;
  width: 200px;
  top: 0px;
  visibility: hidden;
  opacity: 0;
  border: 1px solid white;
  animation: controlsIn 0.5s 0s ease-in-out forwards;
}

#gameControls #control-buttons:nth-child(0) {
  position: relative;
  bottom: 10px;
}
.control-buttons {
  padding: 10px;
  font-size: 12px;
  color: #fcf7f8;
  background: #00a3e4;
  border: 2px solid #90c541;
  border-radius: 50%;
  margin: 2px;
}
.control-buttons:hover {
  background: #90c541;
}

#gameControls h2.psych-green {
  font-size: 1em;
}
/* endgame-dialog */
.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  background: rgba(128, 128, 128, 0.349);
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog {
  background: #00a3e4;
  width: 50%;
  min-height: 25%;
  border: 5px solid #c9c5cb;
  border-radius: 10px;
  flex-direction: column;
}

@keyframes flipToBack {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes dealCards {
  from {
    position: absolute;
  }
  to {
    position: relative;
  }
}

@keyframes controlsIn {
  from {
    visibility: hidden;
    top: 0px;
    opacity: 0;
  }
  to {
    visibility: visible;
    top: 0px;
    opacity: 1;
  }
}

@keyframes flipToFront {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
